body {
  font-family: Arial, sans-serif;
  background-color: #e7fcbb;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  background: linear-gradient(92.29deg, #00FF29 39.41%, #DD11E1 82.76%), linear-gradient(0deg, #F5FAFF, #F5FAFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
  font-size: 40px;
}

label {
  display: block;
  margin-top: 30px;
  margin-left: 25%;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  max-width: 800px;
}

input[type=text] {
  flex: 1;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.result-container p {
  margin-bottom: 10px;
}

#resultado {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#resultado input[type=text] {
  flex: 1;
}

#resultado button {
  margin-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px 0;
  font-size: 15px;
}

